<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='/css/styles.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <p id='about'>This site was created by Carlirows. It interacts with the mapbox and the weatherstack API. I've
            used Node and Express to
            create the app, it uses postman-request to fetch data from the API's and handlebars to render the client
            side
            interface. Contact me at: carlirows@gmail.com </p>
        <img class='portrait' src='/img/robot.png'>
    </div>
    {{>footer}}
</body>

</html>